*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --hue-neutral: 190;
  --hue-wrong: 0;
  --hue-correct: 145;
}

body {
  --hue: var(--hue-neutral);
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: hsl(var(--hue), 100%, 30%);

}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 5px;
  padding: 0.5rem;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 1rem;
  margin: 1rem;
}

.btn {
  --hue: var(--hue-neutral);
  border: 0.1rem solid hsl(var(--hue), 100%, 30%);
  background-color: hsl(var(--hue), 100%, 50%);
  border-radius: 5px;
  padding: 0.5rem 1rem;
  color: white;
  outline: none;
  font-size: 0.75rem;
  transition: 0.3s;
}

.btn:hover {
  border-color: hsl(var(--hue), 100%, 20%);;
  background-color: hsl(var(--hue), 100%, 40%);
}

.btn.correct {
  --hue: var(--hue-correct);
  color: black;
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem;
  /* margin: 0 0 0.5rem 0; */
}

.controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

#question {
  font-size: 1rem;
  font-weight: 700;
  margin: 0.5rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

#lol {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  background-color: hsl(var(--hue), 100%, 30%);
  border: 1px solid hsl(var(--hue), 100%, 10%);
  
}

/* Background Styles Only */

@import url('https://fonts.googleapis.com/css?family=Raleway');


html {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DFDFDF;
    font-size: 24px;
    font-family: "Raleway", sans-serif;
}


